.idea/**
*.iml
*.json
*.xml
*.sql
target/
/src/main/resources/static/
/src/main/frontend/node_modules/
/.idea/**
/src/main/frontend/.env.development.local
/src/main/frontend/.env.production.local
.aider*
.env
